# Cache and logs
.DS_Store
tmp/*

# Parameters

# Private project files

# Assets and user uploads

# Backup files
*.swp
*.bak

# ignore some test files

# tmplog
*.log

# Distribution files

# Config fils
